:root {
  --font-family: 'Gaegu', sans-serif;
  /* Grayscale */
  --transparent: transparent;
  --black: #000;
  --gray1: #333;
  --gray2: #666;
  --gray3: #999;
  --gray4: #bbb;
  --gray5: #ddd;
  --gray6: #f3f3f3;
  --white: #fff;
  /* Colors */
  --red: #D7263D;
  --red2: #F4C3CA;
  --red3: #E57483;
  --red4: #891927;
  --red5: #4F0E17;
  --orange: #EFA00B;
  --orange2: #FAE5BC;
  --orange3: #F4C263;
  --orange4: #996608;
  --orange5: #573B04;
  --yellow: #ECFC07;
  --yellow2: #FBFFCD;
  --yellow3: #F6FF8B;
  --yellow4: #9BA32F;
  --yellow5: #565C03;
  --green: #7FB800;
  --green2: #DCEBB9;
  --green3: #ADD15C;
  --green4: #517600;
  --green5: #2F4300;
  --teal: #1be7ff;
  --teal2: #C0F8FF;
  --teal3: #6DEFFF;
  --teal4: #1293A3;
  --teal5: #0A545D;
  --blue: #2294E3;
  --blue2: #C2E1F7;
  --blue3: #7ED1F8;
  --blue4: #165F91;
  --blue5: #0D3653;
  --purple: #7E13A5;
  --purple2: #DBBEE6;
  --purple3: #AC68C5;
  --purple4: #510D6A;
  --purple5: #2E073C;
  --pink: #FB62F6;
  --pink2: #FDD4FC;
  --pink3: #FC9BF9;
  --pink4: #A03F9D;
  --pink5: #5C245A;
  /* Component defaults */
  --component-bg: var(--white);
  --component-bg-secondary: var(--gray5);
  --component-border-color: var(--gray1);
  --component-border-secondary: rgba(0,0,0,.15);
  --component-border-width: 2px;
  --component-border-width-neg: calc(0px - var(--component-border-width));
  --component-active: var(--blue);
  --component-active-text: var(--white);
  --alt-row-color: var(--component-bg);
  /* Border radius */
  --border-radius-0: 2px 10px 13px 2px / 4px 2px 2px 2px;
  --border-radius-sm: 6px 5px 9px 9px / 6px 6px 6px 6px;
  --border-radius-md: 11px 9px 9px 7px / 9px 11px 12px 12px;
  --border-radius-lg: 17px 17px 12px 13px / 16px 18px 18px 17px;
  --border-radius-circle: 87% 76% 74% 68% / 73% 83% 77% 86%;
  /* Component specific */
  --accordion-width: 335px;
  --accordion-height: 250px;
  --alert-width: 275px;
  --appbar-width: 360px;
  --android-width: 401px;
  --android-height: 797px;
  --arrow-width: 160px;
  --arrow-height: 100px;
  --break-line-height: 40px;
  --browser-width: 768px;
  --browser-height: 400px;
  --chart-bar-width: 335px;
  --chart-bar-height: 188px;
  --chart-line-width: 335px;
  --chart-line-height: 188px;
  --chart-pie-width: 188px;
  --color-picker-width: 42px;
  --color-picker-height: 26px;
  --comment-width: 28px;
  --comment-height: 40px;
  --comment-color: var(--blue3);
  --coverflow-width: 500px;
  --coverflow-height: 160px;
  --date-picker-width: 335px;
  --editor-toolbar-width: 335px;
  --fieldset-width: 335px;
  --fieldset-height: 188px;
  --highlighter-width: 100px;
  --highlighter-height: 16px;
  --image-width: 100px;
  --image-height: 100px;
  --ios-picker-width: 375px;
  --ios-picker-height: 188px;
  --ipad-width: 833px;
  --ipad-height: 1209px;
  --iphone-x-width: 429px;
  --iphone-x-height: 860px;
  --iphone-678-width: 435px;
  --iphone-678-height: 869px;
  --keyboard-phone-portrait-width: 375px;
  --keyboard-phone-portrait-height: 300px;
  --keyboard-phone-landscape-width: 812px;
  --keyboard-phone-landscape-height: 175px;
  --keyboard-tablet-portrait-width: 768px;
  --keyboard-tablet-portrait-height: 270px;
  --keyboard-tablet-landscape-width: 1024px;
  --keyboard-tablet-landscape-height: 360px;
  --line-width: 335px;
  --line-height: 10px;
  --link-bar-separator: var(--gray1);
  --link-bar-selected: var(--link-bar-separator);
  --menu-width: 180px;
  --menu-bar-align: flex-start;
  --modal-overlay-width: 375px;
  --modal-overlay-height: var(--modal-overlay-width);
  --popover-width: 220px;
  --popover-arrow-width: 2.25rem;
  --popover-arrow-height: 1.125rem;
  --popover-arrow-difference: calc((var(--popover-arrow-width) - var(--popover-arrow-height)) / 2);
  --progress-bar-width: 335px;
  --progress-bar-height: 16px;
  --red-x-width: 180px;
  --red-x-height: 180px;
  --shape-width: 100px;
  --shape-height: 100px;
  --shape-text-color: var(--gray1);
  --scribble-width: 240px;
  --scribble-height: 130px;
  --scrollbar-width: 18px;
  --scrollbar-height: 160px;
  --slider-width: 180px;
  --slider-height: 20px;
  --slider-track-height: 4px;
  --splitter-width: 335px;
  --splitter-height: 12px;
  --street-map-width: 375px;
  --street-map-height: 250px;
  --subtitle-placeholder-width: 335px;
  --subtitle-placeholder-height: 28px;
  --switch-color: var(--green);
  --table-width: 335px;
  --table-header-color: var(--gray5);
  --tabs-width: 335px;
  --tabs-height: 160px;
  --text-width:335px;
  --text-input-width: 188px;
  --text-input-height: 2em;
  --text-area-width: 180px;
  --text-area-height: 80px;
  --text-placeholder-width: 335px;
  --text-placeholder-height: 88px;
  --time-picker-width: 335px;
  --tooltip-min-width: 1rem;
  --tooltip-arrow-width: 1rem;
  --tooltip-arrow-height: .5rem;
  --video-player-width: 375px;
  --video-player-height: 267px;
  --video-player-controls-height: 40px;
  --webcam-width: 375px;
  --webcam-height: 211px;
  --window-width: 500px;
  --window-height: 300px; }

.clean:root {
  --font-family: helvetica, arial, sans-serif;
  --component-border-width: 1px;
  --border-radius-0: 0;
  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --border-radius-lg: 1rem;
  --border-radius-circle: 50%; }

.clean .shape__image,
.clean .coverflow__slides {
  stroke-width: 1; }

.clean .radio-button--indeterminate::before {
  background-size: 75%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

svg {
  width: 100%;
  height: 100%; }

.active {
  background-color: var(--component-active) !important;
  color: var(--component-active-text); }

.focused {
  border-color: var(--component-active) !important; }

.clean .focused {
  box-shadow: inset 0 0 0 var(--component-border-width) var(--component-active); }

.disabled,
.placeholder {
  opacity: .4; }

.accordion {
  display: flex;
  flex-direction: column;
  width: var(--accordion-width);
  height: var(--accordion-height);
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .accordion__text {
    display: block;
    padding: .5em 1em; }
  .accordion > .accordion__item + .accordion__item {
    border-top: var(--component-border-width) solid var(--component-border-color); }
  .accordion__submenu {
    display: none;
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0; }
  .accordion__item--opened {
    margin-bottom: auto;
    overflow: hidden; }
    .accordion__item--opened .accordion__submenu {
      display: block; }
  .accordion__item--opened .accordion__submenu {
    display: block; }
  .accordion .icon {
    margin-right: 1em;
    float: left; }
  .accordion--no-icons .icon {
    display: none; }
  .accordion--no-icons .accordion__submenu {
    margin-left: 1em; }
  .accordion--no-borders {
    border: 0; }

.alert {
  display: flex;
  flex-direction: column;
  width: var(--alert-width);
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-lg);
  background-color: var(--component-bg);
  text-align: center; }
  .alert__title {
    font-size: 1.125rem;
    margin: 1rem 1rem .25rem; }
  .alert__message {
    margin: 0 1rem 2.5rem;
    font-size: .875rem; }
  .alert__button-group {
    display: flex;
    margin-top: auto; }
  .alert__button {
    flex-grow: 1;
    padding: 0.8125rem 1rem;
    border-top: var(--component-border-width) solid var(--component-border-secondary);
    color: var(--component-active); }
    .alert__button:first-of-type {
      border-right: var(--component-border-width) solid var(--component-border-secondary); }
  .alert--android {
    border-radius: 0;
    text-align: left;
    border-radius: var(--border-radius-0);
    overflow: hidden; }
  .alert--android .alert__button-group {
    justify-content: flex-end;
    padding-right: .5rem; }
  .alert--android .alert__button {
    flex-grow: initial;
    border: 0;
    text-transform: uppercase; }

.appbar {
  display: flex;
  align-items: flex-start;
  width: var(--appbar-width);
  overflow: hidden;
  background-color: var(--component-bg-secondary);
  border-radius: var(--border-radius-0); }
  .appbar a {
    padding: .75em 1em;
    white-space: nowrap; }

.android {
  width: var(--android-width);
  height: var(--android-height);
  color: var(--component-bg); }
  .android--landscape {
    width: var(--android-height);
    height: var(--android-width); }

.arrow {
  width: var(--arrow-width);
  height: var(--arrow-height); }

.breadcrumb {
  white-space: nowrap; }
  .breadcrumb a:not(:last-child) {
    position: relative;
    margin: 0 1.5em 0 0;
    color: var(--component-active); }
    .breadcrumb a:not(:last-child)::after {
      position: absolute;
      right: -1.1875em;
      content: ">";
      color: var(--gray1); }
  .breadcrumb--slashes a:not(:last-child)::after {
    content: "/";
    padding-right: 0.125em; }

.break-line {
  height: var(--break-line-height); }

.browser {
  width: var(--browser-width);
  height: var(--browser-height);
  overflow: hidden;
  border: 2px solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-sm); }
  .browser .icon {
    color: var(--gray4); }
  .browser__header {
    display: flex;
    padding: .5em .25em 0 .5em;
    background-color: var(--gray5); }
    .browser__header .icon {
      margin: .25em .75em 0;
      font-size: .75em; }
  .browser__title {
    padding: .5em .75em;
    width: 18em;
    margin: 0 auto 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8125em;
    font-weight: normal;
    background-color: var(--gray6);
    border-radius: .25rem .25rem 0 0; }
  .browser__toolbar {
    display: flex;
    align-items: center;
    padding: .5em 0;
    background-color: var(--gray6); }
    .browser__toolbar .icon {
      margin: 0 .5em; }
  .browser__search {
    border: 2px solid var(--gray5);
    border-radius: var(--border-radius-lg);
    flex-grow: 1;
    font-size: .875rem;
    height: 2.0625em;
    padding: .25em .75em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: var(--gray3); }
  .browser--no-borders {
    border: 0;
    border-radius: 0; }

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .375em .75em;
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg-secondary);
  border-radius: var(--border-radius-sm); }
  .button .icon:first-child {
    margin-right: .5em; }

.button-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg-secondary);
  border-radius: var(--border-radius-circle); }
  .button-circle .icon {
    margin: .75em; }

.button-group {
  display: inline-flex;
  background-color: var(--component-bg-secondary);
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-sm); }
  .button-group a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0.375em .75em;
    text-align: center; }
  .button-group--horizontal a:not(:last-child) {
    border-right: var(--component-border-width) solid var(--component-border-color); }
  .button-group--vertical {
    flex-direction: column; }
    .button-group--vertical a:not(:last-child) {
      border-bottom: var(--component-border-width) solid var(--component-border-color); }

.calendar {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0); }
  .calendar__header {
    display: flex;
    justify-content: space-between;
    padding: .5em; }
  .calendar__month-year {
    font-size: 1em;
    margin: 0; }
  .calendar__table {
    flex-grow: 1;
    height: calc(100% - 2.25em); }
  .calendar table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
    text-align: center; }
  .calendar th,
  .calendar td {
    padding: .375em; }
  .calendar tr:empty {
    display: none; }
  .calendar--lg {
    width: 415px;
    height: 415px; }
  .calendar--lg table {
    border-top: var(--component-border-width) solid var(--component-border-secondary);
    table-layout: fixed; }
  .calendar--lg td {
    border-top: var(--component-border-width) solid var(--component-border-secondary);
    border-left: var(--component-border-width) solid var(--component-border-secondary);
    vertical-align: top;
    text-align: right; }
  .calendar--lg td:first-child {
    border-left: 0; }
  .calendar--lg th [hidden] {
    display: inline; }
  .calendar .active {
    display: inline-block;
    padding: .25em;
    width: 1.625em;
    text-align: center;
    margin: 0 -.25em;
    border-radius: 50%; }
  .calendar--lg .active {
    transform: translate(0, -0.25em); }

.chart-bar {
  display: flex;
  width: var(--chart-bar-width);
  height: var(--chart-bar-height);
  border-left: var(--component-border-width) solid var(--component-border-color);
  border-bottom: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .chart-bar__bar {
    flex-grow: 1;
    border-radius: var(--border-radius-0); }
  .chart-bar--horizontal {
    flex-direction: column;
    padding-top: .5rem;
    background-image: linear-gradient(to left, var(--gray5) 1px, transparent 1px);
    background-size: 25% auto; }
    .chart-bar--horizontal .chart-bar__bar {
      margin-bottom: .5rem; }
  .chart-bar--vertical {
    flex-direction: row;
    align-items: flex-end;
    padding-left: .75rem;
    background-image: linear-gradient(to bottom, var(--gray5) 1px, transparent 1px);
    background-size: auto 25%; }
    .chart-bar--vertical .chart-bar__bar {
      margin-right: .75rem; }

.chart-line {
  width: var(--chart-line-width);
  height: var(--chart-line-height);
  border-left: var(--component-border-width) solid var(--component-border-color);
  border-bottom: var(--component-border-width) solid var(--component-border-color);
  border-bottom: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  background-image: linear-gradient(to bottom, var(--gray5) 1px, transparent 1px);
  background-size: auto 25%;
  border-radius: var(--border-radius-0); }

.chart-pie {
  width: var(--chart-pie-width);
  height: var(--chart-pie-width);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-circle); }

.checkbox {
  display: inline-block;
  padding: .125rem 0 .125rem 1.625rem;
  overflow: hidden; }
  .checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: var(--component-border-width) solid var(--component-border-color);
    background-color: var(--component-bg);
    border-radius: var(--border-radius-0); }
  .checkbox--checked::before {
    border-color: var(--component-active);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E %3Cpath d='M6,15a1,1,0,0,1-.707-.293l-5-5A1,1,0,1,1,1.707,8.293L5.86,12.445,14.178.431a1,1,0,1,1,1.644,1.138l-9,13A1,1,0,0,1,6.09,15C6.06,15,6.03,15,6,15Z'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%; }
  .checkbox--indeterminate::before {
    border-color: var(--component-active);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E %3Cpath d='M15,7H1C0.4,7,0,7.4,0,8s0.4,1,1,1h14c0.6,0,1-0.4,1-1S15.6,7,15,7z'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 100%; }

.checkbox-group {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden; }
  .checkbox-group .checkbox {
    flex-shrink: 0; }
  .checkbox-group--horizontal {
    flex-direction: row;
    position: absolute;
    white-space: nowrap; }
    .checkbox-group--horizontal .checkbox:not(:last-child) {
      margin-right: 1.625rem; }

.color-picker {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: var(--color-picker-width);
  height: var(--color-picker-height);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-sm);
  overflow: hidden; }
  .color-picker .icon {
    color: var(--gray1);
    background-color: var(--component-bg);
    border-top-left-radius: var(--border-radius-sm);
    transform: translateY(0.125em); }

.comment {
  width: var(--comment-width);
  height: var(--comment-height);
  padding: 0;
  border: 0;
  background-color: transparent; }
  .comment__number {
    position: absolute;
    left: 0;
    top: .75em;
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: var(--white); }

.coverflow {
  width: var(--coverflow-width);
  height: var(--coverflow-height);
  overflow: hidden; }
  .coverflow--black-and-white img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .coverflow img {
    width: 100%;
    height: 100%; }
  .coverflow__slides {
    stroke-width: 2; }
  .coverflow img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 32%;
    transform: translateX(-50%);
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-0); }

.curly-brace {
  display: inline-grid;
  overflow: hidden; }
  .curly-brace__text {
    grid-area: text; }
  .curly-brace__start {
    grid-area: start; }
  .curly-brace__middle {
    grid-area: middle; }
  .curly-brace__end {
    grid-area: end; }
  .curly-brace::before, .curly-brace::after {
    content: "";
    position: absolute;
    background-color: currentColor; }
  .curly-brace--right {
    text-align: right;
    grid-template: 16px auto 28px auto 16px / auto 24px;
    grid-template-areas: "text start" "text ." "text middle" "text ." "text end"; }
    .curly-brace--right .curly-brace__text {
      align-self: center; }
    .curly-brace--right .curly-brace__end {
      transform: rotateX(0.5turn); }
    .curly-brace--right::before, .curly-brace--right::after {
      width: 6px;
      right: 10px;
      height: calc(50% - 28px); }
    .curly-brace--right::before {
      top: 16px; }
    .curly-brace--right::after {
      bottom: 16px; }
  .curly-brace--left {
    text-align: left;
    grid-template: 16px auto 28px auto 16px / 24px auto;
    grid-template-areas: "start text" ". text" "middle text" ". text" "end text"; }
    .curly-brace--left .curly-brace__text {
      align-self: center; }
    .curly-brace--left .curly-brace__start, .curly-brace--left .curly-brace__middle {
      transform: rotateY(0.5turn); }
    .curly-brace--left .curly-brace__end {
      transform: rotateX(0.5turn) rotateY(0.5turn); }
    .curly-brace--left::before, .curly-brace--left::after {
      width: 6px;
      left: 10px;
      height: calc(50% - 28px); }
    .curly-brace--left::before {
      top: 16px; }
    .curly-brace--left::after {
      bottom: 16px; }
  .curly-brace--top {
    text-align: center;
    grid-template: 28px auto / 24px auto 28px auto 24px;
    grid-template-areas: "start . middle . end" "text text text text text"; }
    .curly-brace--top .curly-brace__start, .curly-brace--top .curly-brace__middle {
      transform: rotateZ(-0.25turn); }
    .curly-brace--top .curly-brace__end {
      transform: rotateZ(0.25turn) rotateY(0.5turn); }
    .curly-brace--top::before, .curly-brace--top::after {
      height: 6px;
      top: 12px;
      width: calc(50% - 34px); }
    .curly-brace--top::before {
      left: 20px; }
    .curly-brace--top::after {
      right: 20px; }
  .curly-brace--bottom {
    text-align: center;
    grid-template: auto 28px / 24px auto 28px auto 24px;
    grid-template-areas: "text text text text text" "start . middle . end"; }
    .curly-brace--bottom .curly-brace__text {
      align-self: end; }
    .curly-brace--bottom .curly-brace__start, .curly-brace--bottom .curly-brace__middle {
      transform: rotateZ(-0.25turn) rotateY(0.5turn); }
    .curly-brace--bottom .curly-brace__end {
      transform: rotateZ(0.25turn); }
    .curly-brace--bottom::before, .curly-brace--bottom::after {
      height: 6px;
      bottom: 12px;
      width: calc(50% - 34px); }
    .curly-brace--bottom::before {
      left: 20px; }
    .curly-brace--bottom::after {
      right: 20px; }

.date-picker {
  display: inline-flex;
  flex-direction: column;
  width: var(--date-picker-width);
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  overflow: hidden;
  border-radius: var(--border-radius-0); }
  .date-picker__header {
    background-color: var(--component-bg-secondary);
    padding: 1em 3rem 1em 1.25em; }
  .date-picker__today {
    margin: .125em 0 0;
    font-size: 2.25em;
    font-weight: 400; }
  .date-picker__today br {
    display: none; }
  .date-picker__month-year {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1.25em 1em; }
  .date-picker__month-year-label {
    font-size: 1em;
    font-weight: 400;
    margin: 0; }
  .date-picker__table {
    flex-grow: 1;
    padding: 0 .5em;
    font-size: .875rem; }
  .date-picker table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
    text-align: center; }
  .date-picker th {
    font-weight: 400;
    font-size: .875em;
    opacity: .7; }
  .date-picker th,
  .date-picker td {
    padding: .5em 0; }
  .date-picker tr:empty {
    display: none; }
  .date-picker .active {
    display: inline-block;
    padding: .5em;
    width: 2.125em;
    margin: -.5em;
    border-radius: var(--border-radius-circle); }
  .date-picker__button-group {
    display: flex;
    justify-content: flex-end;
    padding: .5em; }
  .date-picker__button {
    padding: .5em .75em;
    text-transform: uppercase;
    color: var(--component-active); }
  .date-picker--landscape {
    display: inline-grid;
    grid-template: auto 1fr -webkit-min-content / 1fr 2fr;
    grid-template: auto 1fr min-content / 1fr 2fr;
    width: auto;
    height: var(--date-picker-width); }
    .date-picker--landscape .date-picker__header {
      grid-row: span 3;
      white-space: nowrap; }
    .date-picker--landscape br {
      display: block; }
    .date-picker--landscape .date-picker__button-group {
      align-self: end; }
    .date-picker--landscape .date-picker__year-range {
      grid-row: span 2;
      align-self: center; }
  .date-picker--year .date-picker__month-year,
  .date-picker--year .date-picker__table {
    display: none; }
  .date-picker--year .date-picker__year-range {
    display: block; }
  .date-picker__year-range {
    display: none;
    text-align: center;
    flex-grow: 1;
    margin-top: 1rem;
    list-style: none;
    padding-left: 0; }
    .date-picker__year-range li {
      padding: 0.4375rem 0; }
      .date-picker__year-range li:nth-child(4) {
        font-size: 1.5em;
        color: var(--component-active); }

.dropdown {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden; }
  .dropdown__button {
    display: flex;
    align-items: center;
    padding: 0.375em 0.375em 0.375em .75em;
    min-width: 3em;
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-sm); }
  .dropdown__text {
    margin-right: auto; }
  .dropdown__menu {
    display: none;
    flex-direction: column;
    padding: .25rem 0;
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-sm);
    overflow: hidden; }
    .dropdown__menu a {
      padding: 0.375em .75em; }
  .dropdown--opened .dropdown__menu {
    display: flex; }

.editor-toolbar {
  display: inline-flex;
  width: var(--editor-toolbar-width);
  padding: .375em .75em;
  overflow: hidden;
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color); }
  .editor-toolbar > * {
    margin-right: .75em; }

.fieldset {
  width: var(--fieldset-width);
  height: var(--fieldset-height);
  min-inline-size: 0;
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0);
  background-color: transparent; }
  .fieldset legend {
    padding: 0 .25em;
    white-space: nowrap; }

.highlighter {
  width: var(--highlighter-width);
  height: var(--highlighter-height);
  background-color: var(--yellow);
  border-radius: 2em 1em 4em / 0.5em 3em;
  mix-blend-mode: darken; }

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  flex-shrink: 0; }
  .icon--xs {
    font-size: 12px; }
  .icon--sm {
    font-size: 16px; }
  .icon--md {
    font-size: 24px; }
  .icon--lg {
    font-size: 48px; }
  .icon--xl {
    font-size: 64px; }
  .icon--xxl {
    font-size: 128px; }

.icon-and-label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  .icon-and-label__text {
    display: inline-block;
    margin: .375em 0 0; }
  .icon-and-label--icon-left {
    flex-direction: row; }
    .icon-and-label--icon-left .icon-and-label__text {
      margin: 0 0 0 .375em; }
  .icon-and-label--icon-right {
    flex-direction: row-reverse; }
    .icon-and-label--icon-right .icon-and-label__text {
      margin: 0 .375em 0 0; }
  .icon-and-label--icon-bottom {
    flex-direction: column-reverse; }
    .icon-and-label--icon-bottom .icon-and-label__text {
      margin: 0 0 .375em 0; }

.image {
  width: var(--image-width);
  height: var(--image-height);
  border-radius: var(--border-radius-0); }
  .image[src*="placeholder-image.svg"] {
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color); }
  .image--black-and-white {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }

.ios-picker {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  width: var(--ios-picker-width);
  height: var(--ios-picker-height);
  overflow: hidden;
  text-align: right;
  align-content: center;
  align-items: center;
  background-color: var(--component-bg-secondary);
  font-size: 1.1875rem;
  color: var(--gray3); }
  .ios-picker span {
    padding: .1875rem 1rem; }
  .ios-picker__selected {
    border-top: var(--component-border-width) solid var(--component-border-color);
    border-bottom: var(--component-border-width) solid var(--component-border-color);
    font-size: 1.5625rem;
    color: var(--gray1); }

.ipad {
  width: var(--ipad-width);
  height: var(--ipad-height);
  color: var(--component-bg); }
  .ipad--landscape {
    width: var(--ipad-height);
    height: var(--ipad-width); }

.iphone-x {
  width: var(--iphone-x-width);
  height: var(--iphone-x-height);
  color: var(--component-bg); }
  .iphone-x--landscape {
    width: var(--iphone-x-height);
    height: var(--iphone-x-width); }

.iphone-678 {
  width: var(--iphone-678-width);
  height: var(--iphone-678-height);
  color: var(--component-bg); }
  .iphone-678--landscape {
    width: var(--iphone-678-height);
    height: var(--iphone-678-width); }

.keyboard-phone {
  width: var(--keyboard-phone-portrait-width);
  height: var(--keyboard-phone-portrait-height); }
  .keyboard-phone--landscape {
    width: var(--keyboard-phone-landscape-width);
    height: var(--keyboard-phone-landscape-height); }

.keyboard-tablet {
  width: var(--keyboard-tablet-portrait-width);
  height: var(--keyboard-tablet-portrait-height); }
  .keyboard-tablet--landscape {
    width: var(--keyboard-tablet-landscape-width);
    height: var(--keyboard-tablet-landscape-height); }

.label {
  overflow: hidden; }
  .label .label__text {
    display: block; }
  .label--diagonal .label__text {
    transform-origin: top right;
    transform: rotateZ(-0.125turn); }
  .label--sideways-left .label__text {
    transform-origin: top right;
    transform: translateX(-100%) rotateZ(-0.25turn); }
  .label--sideways-right .label__text {
    transform-origin: top left;
    transform: rotateZ(0.25turn) translateY(-100%); }

.line {
  display: block;
  width: var(--line-width);
  height: var(--line-height); }
  .line::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 0;
    border: 0;
    border-width: 0 0 var(--component-border-width);
    border-color: var(--component-border-color);
    border-style: solid; }
  .line--dashed::before {
    border-style: dashed; }
  .line--dotted::before {
    border-style: dotted; }
  .line--vertical {
    width: var(--line-height);
    height: var(--line-width); }
    .line--vertical::before {
      top: 0;
      left: calc(50% - 1px);
      width: 0;
      height: 100%;
      border-width: 0 var(--component-border-width) 0 0; }

.line-old {
  display: flex;
  width: var(--line-width);
  height: var(--line-height);
  align-items: center; }
  .line-old__inner {
    height: var(--component-border-width);
    width: inherit;
    background-color: var(--component-border-color); }
  .line-old--dashed .line__inner {
    background-color: transparent;
    background-image: repeating-linear-gradient(to right, var(--component-border-color), var(--component-border-color) 8px, transparent 8px, transparent 14px); }
  .line-old--dotted .line__inner {
    background-color: transparent;
    background-image: repeating-linear-gradient(to right, var(--component-border-color), var(--component-border-color) var(--component-border-width), transparent var(--component-border-width), transparent 5px); }
  .line-old--vertical {
    width: var(--line-height);
    height: var(--line-width);
    flex-direction: column;
    justify-items: center; }
    .line-old--vertical .line__inner {
      height: inherit;
      width: var(--component-border-width); }
    .line-old--vertical.line--dashed .line__inner {
      background-color: transparent;
      background-image: repeating-linear-gradient(to bottom, var(--component-border-color), var(--component-border-color) 8px, transparent 8px, transparent 14px); }
    .line-old--vertical.line--dotted .line__inner {
      background-color: transparent;
      background-image: repeating-linear-gradient(to bottom, var(--component-border-color), var(--component-border-color) var(--component-border-width), transparent var(--component-border-width), transparent 5px); }

.link {
  color: var(--component-active); }

.link-bar a {
  color: var(--component-active); }
  .link-bar a:not(:last-child) {
    position: relative;
    margin: 0 1.25em 0 0; }
    .link-bar a:not(:last-child)::after {
      position: absolute;
      right: -0.875rem;
      content: "|";
      color: var(--link-bar-separator); }

a.link-bar--selected {
  color: var(--link-bar-selected); }

.menu {
  display: flex;
  flex-direction: column;
  width: var(--menu-width);
  padding: 0.375em 0;
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .menu a {
    padding: 0.375em .75em;
    display: flex;
    flex-shrink: 0; }
    .menu a:nth-child(even) {
      background-color: var(--alt-row-color); }
  .menu .menu__item-indent {
    padding-left: 2.75em; }
  .menu span + * {
    margin-left: auto; }
  .menu hr {
    margin: .5rem 0;
    height: 0;
    border: 0;
    border-top: var(--component-border-width) solid var(--component-border-secondary); }
  .menu--icons span:first-child {
    padding-left: 1.5em; }
  .menu--icons .icon:first-child {
    margin-right: .5em; }
  .menu .scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: inherit;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0; }
    .menu .scrollbar ~ a {
      padding-right: calc(var(--scrollbar-width) + 0.375em); }

.menu-bar {
  display: inline-flex;
  overflow: hidden;
  justify-content: var(--menu-bar-align);
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .menu-bar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .375em .75em; }
  .menu-bar__text {
    display: inline-block;
    margin: .375em 0 0; }
    .menu-bar__text:first-child {
      margin: 0; }
  .menu-bar--icon-left a {
    flex-direction: row; }
  .menu-bar--icon-left .menu-bar__text {
    margin: 0 0 0 .375em; }
  .menu-bar--icon-right a {
    flex-direction: row-reverse; }
  .menu-bar--icon-right .menu-bar__text {
    margin: 0 .375em 0 0; }
  .menu-bar--icon-bottom a {
    flex-direction: column-reverse; }
  .menu-bar--icon-bottom .menu-bar__text {
    margin: 0 0 .375em 0; }
  .menu-bar--vertical {
    flex-direction: column; }
    .menu-bar--vertical a {
      padding: .5em .375em; }

.modal-overlay {
  width: var(--modal-overlay-width);
  height: var(--modal-overlay-height);
  background-color: var(--gray1);
  border-radius: var(--border-radius-0);
  opacity: .6; }
  .modal-overlay--light {
    background-color: var(--white); }

.number-stepper {
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .number-stepper__text {
    align-self: center;
    padding: 0.375em .5em; }
  .number-stepper__button {
    flex-direction: column;
    justify-content: center;
    padding: 0.375em;
    background-color: var(--component-bg-secondary); }
    .number-stepper__button:not([hidden]) {
      display: flex; }
  .number-stepper--plus-minus [hidden] {
    display: flex; }
  .number-stepper--plus-minus .number-stepper__button:not([hidden]) {
    display: none; }

.playback {
  display: inline-flex;
  overflow: hidden; }
  .playback .button-circle {
    flex-grow: 1;
    margin: 6% 0; }
    .playback .button-circle:nth-child(2) {
      margin: 0 .5rem;
      font-size: 24px; }

.popover {
  display: flex;
  flex-direction: column;
  width: var(--popover-width);
  overflow: hidden; }
  .popover__content {
    flex-grow: 1;
    padding: 1rem;
    border: var(--component-border-width) solid var(--component-border-color);
    background-color: var(--component-bg);
    border-radius: var(--border-radius-md); }
  .popover__arrow {
    width: var(--popover-arrow-width);
    height: var(--popover-arrow-height);
    fill: var(--component-bg);
    stroke-width: var(--component-border-width);
    margin: var(--component-border-width-neg) auto 0; }
  .popover--bottom {
    flex-direction: column-reverse; }
    .popover--bottom .popover__arrow {
      transform: rotate(0.5turn);
      margin: 0 auto var(--component-border-width-neg); }
  .popover--right {
    flex-direction: row-reverse; }
    .popover--right .popover__arrow {
      transform: rotate(0.25turn);
      margin: auto calc(0rem - var(--popover-arrow-difference) + var(--component-border-width-neg)) auto calc(0rem - var(--popover-arrow-difference)); }
  .popover--left {
    flex-direction: row; }
    .popover--left .popover__arrow {
      transform: rotate(-0.25turn);
      margin: auto calc(0rem - var(--popover-arrow-difference)) auto calc(0rem - var(--popover-arrow-difference) + var(--component-border-width-neg)); }

.progress-bar {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  padding: 0.125em;
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0); }
  .progress-bar__bar {
    width: 25%;
    height: 100%;
    background-color: var(--component-active); }
  .progress-bar--indeterminate .progress-bar__bar {
    background-color: transparent;
    background-image: repeating-linear-gradient(45deg, var(--component-active), var(--component-active) 0.625rem, transparent 0.625rem, transparent 1.25rem); }

.radio-button {
  display: inline-block;
  padding: .125rem 0 .125rem 1.625rem;
  overflow: hidden; }
  .radio-button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: var(--component-border-width) solid var(--component-border-color);
    background-color: var(--component-bg);
    border-radius: var(--border-radius-circle); }
  .radio-button--selected::before {
    border-color: var(--component-active);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3E %3Ccircle cx='3' cy='3' r='3'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(60% - (var(--component-border-width) / 2)); }
  .radio-button--indeterminate::before {
    border-color: var(--component-active);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E %3Cpath d='M15,7H1C0.4,7,0,7.4,0,8s0.4,1,1,1h14c0.6,0,1-0.4,1-1S15.6,7,15,7z'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 100%; }

.radio-button-group {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden; }
  .radio-button-group .radio-button {
    flex-shrink: 0; }
  .radio-button-group--horizontal {
    flex-direction: row;
    position: absolute;
    white-space: nowrap; }
    .radio-button-group--horizontal .radio-button:not(:last-child) {
      margin-right: 1.625rem; }

.red-x {
  width: var(--red-x-width);
  height: var(--red-x-height);
  fill: var(--red); }

.scribble {
  width: var(--scribble-width);
  height: var(--scribble-height); }

.scrollbar {
  display: inline-flex;
  flex-direction: column;
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
  align-items: center;
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0); }
  .scrollbar .icon {
    margin: var(--component-border-width-neg); }
  .scrollbar__track {
    margin: 0 auto auto;
    width: 0.625rem;
    height: 2rem;
    background-color: currentColor;
    border-radius: 1rem; }
  .scrollbar--horizontal {
    width: var(--scrollbar-height);
    height: var(--scrollbar-width);
    flex-direction: row; }
    .scrollbar--horizontal .icon {
      transform: rotateZ(-90deg); }
    .scrollbar--horizontal .scrollbar__track {
      margin: auto auto auto 0;
      width: 2rem;
      height: 0.625rem; }

.shape {
  width: var(--shape-width);
  height: var(--shape-height);
  color: var(--component-bg);
  overflow: hidden; }
  .shape--ellipse {
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-circle); }
  .shape--triangle {
    height: 86px; }
    .shape--triangle .shape__content {
      margin-top: 1rem; }
  .shape--rectangle {
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-0); }
  .shape--parallelogram {
    height: 46px; }
  .shape--hexagon {
    height: 86px; }
  .shape__image {
    stroke: var(--component-border-color);
    stroke-width: 2;
    stroke-linecap: round; }
  .shape__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--shape-text-color); }
  .shape__text {
    display: inline-block;
    padding: .25rem; }
  .shape .scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: inherit;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    color: var(--component-border-color); }
    .shape .scrollbar ~ a {
      padding-right: calc(var(--scrollbar-width) + 0.375em); }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--slider-width);
  height: var(--slider-height); }
  .slider__bar {
    display: flex;
    height: var(--slider-track-height);
    background-color: var(--component-bg-secondary); }
  .slider__track {
    position: relative;
    flex-basis: 25%;
    background-color: var(--component-active);
    border-radius: .125rem; }
    .slider__track::after {
      content: "";
      position: absolute;
      right: 0;
      top: calc(var(--slider-track-height) / 2);
      width: var(--slider-height);
      height: var(--slider-height);
      border: var(--component-border-width) solid var(--component-border-color);
      background-color: var(--component-bg);
      border-radius: var(--border-radius-circle);
      transform: translate(50%, -50%); }
  .slider--vertical {
    flex-direction: row;
    width: var(--slider-height);
    height: var(--slider-width); }
    .slider--vertical .slider__bar {
      flex-direction: column-reverse;
      height: 100%;
      width: var(--slider-track-height); }
    .slider--vertical .slider__track::after {
      right: auto;
      top: 0;
      left: calc(var(--slider-track-height) / 2);
      transform: translate(-50%, -50%); }
    .slider--vertical.slider--pointer .slider__track::before {
      top: 0;
      left: 100%;
      right: auto;
      transform: translate(calc(50% - .5rem), -50%) rotate(-45deg); }
  .slider--pointer .slider__track::before {
    content: "";
    position: absolute;
    right: 0;
    width: calc(var(--slider-height) - .375rem);
    height: calc(var(--slider-height) - .375rem);
    top: calc(var(--slider-track-height) / 2);
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    transform: translate(50%, calc(-50% + .5rem)) rotate(45deg);
    border-top: 0;
    border-left: 0;
    z-index: 2; }
  .slider--pointer .slider__track::after {
    border-radius: .25rem; }

.splitter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--splitter-width);
  height: var(--splitter-height);
  border-top: var(--component-border-width) solid var(--component-border-color);
  border-bottom: var(--component-border-width) solid var(--component-border-color); }

.splitter--vertical {
  width: var(--splitter-height);
  height: var(--splitter-width);
  border-top: 0;
  border-bottom: 0;
  border-left: var(--component-border-width) solid var(--component-border-color);
  border-right: var(--component-border-width) solid var(--component-border-color); }
  .splitter--vertical .icon {
    transform: rotateZ(90deg); }

.street-map {
  width: var(--street-map-width);
  height: var(--street-map-height); }
  .street-map--black-and-white svg {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }

.subtitle {
  line-height: 1.4;
  font-size: 28px;
  font-weight: 400;
  margin: 0; }

.subtitle-placeholder {
  width: var(--subtitle-placeholder-width);
  height: var(--subtitle-placeholder-height);
  background-color: var(--gray4);
  border-radius: var(--border-radius-0); }

.switch {
  display: inline-flex;
  justify-content: flex-end;
  width: calc(var(--text-input-height) * 1.5);
  height: var(--text-input-height);
  background-color: var(--switch-color);
  border-radius: 10rem; }
  .switch__thumb {
    width: var(--text-input-height);
    background-color: var(--component-bg);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-circle);
    transform: scale(0.875); }
  .switch--off {
    justify-content: flex-start;
    background-color: var(--component-bg-secondary); }

.table {
  width: var(--table-width);
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-collapse: collapse;
  overflow: hidden; }
  .table th,
  .table td {
    padding: .25em .5em;
    vertical-align: middle; }
  .table thead {
    background: var(--table-header-color); }
    .table thead .icon {
      float: right;
      margin-top: .125em; }
  .table tbody tr:nth-child(even) {
    background-color: var(--alt-row-color); }
  .table .checkbox {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin-top: .125rem; }
  .table--vertical-lines tr * + * {
    border-left: var(--component-border-width) solid var(--component-border-secondary); }
  .table--horizontal-lines td {
    border-top: var(--component-border-width) solid var(--component-border-secondary); }

.tabs {
  display: flex;
  width: var(--tabs-width);
  height: var(--tabs-height);
  overflow: hidden; }
  .tabs a {
    position: relative;
    padding: 0.375em .75em;
    background-color: var(--component-bg-secondary);
    border: var(--component-border-width) solid var(--component-border-color);
    border-radius: var(--border-radius-0); }
  .tabs .selected {
    background-color: var(--component-bg); }
  .tabs__buttons {
    display: inline-flex; }
  .tabs--top a + a, .tabs--bottom a + a {
    border-left-width: 0; }
  .tabs--left a + a, .tabs--right a + a {
    border-top-width: 0; }
  .tabs--top {
    flex-direction: column; }
    .tabs--top a {
      margin-bottom: var(--component-border-width-neg); }
    .tabs--top .selected {
      border-bottom: 0;
      border-bottom-right-radius: 0; }
  .tabs--bottom {
    flex-direction: column-reverse; }
    .tabs--bottom a {
      margin-top: var(--component-border-width-neg); }
    .tabs--bottom .selected {
      border-top: 0;
      border-top-right-radius: 0; }
  .tabs--left {
    flex-direction: row; }
    .tabs--left .tabs__buttons {
      flex-direction: column; }
    .tabs--left a {
      margin-right: var(--component-border-width-neg);
      border-top-right-radius: 0; }
    .tabs--left .selected {
      border-right: 0; }
  .tabs--right {
    flex-direction: row-reverse; }
    .tabs--right .tabs__buttons {
      flex-direction: column; }
    .tabs--right a {
      margin-left: var(--component-border-width-neg); }
    .tabs--right .selected {
      border-left: 0;
      border-top-left-radius: 0; }
    .tabs--right.tabs--start .tabs__content {
      border-top-right-radius: 0; }
    .tabs--right.tabs--end .tabs__content {
      border-bottom-right-radius: 0; }
  .tabs--end .tabs__buttons {
    align-self: flex-end; }
  .tabs__content {
    flex-grow: 1;
    border: var(--component-border-width) solid var(--component-border-color);
    background-color: var(--component-bg);
    border-radius: var(--border-radius-0); }

.text {
  width: var(--text-width);
  line-height: 1.4;
  overflow: hidden; }

.text-area {
  width: var(--text-area-width);
  height: var(--text-area-height);
  padding: 0.375em .5em;
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0); }

.text-input {
  display: inline-flex;
  align-items: center;
  width: var(--text-input-width);
  height: var(--text-input-height);
  padding: 0.375em .5em;
  overflow: hidden;
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0); }
  .text-input__text {
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1; }
  .text-input .icon {
    margin: 0 .5em 0 0; }
  .text-input--icon-right .icon {
    order: 1;
    margin: 0 0 0 .5em; }
  .text-input--android {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0; }

.clean .text-input--android.focused {
  box-shadow: inset 0 var(--component-border-width-neg) 0 0 var(--component-active); }

.text-placeholder {
  width: var(--text-placeholder-width);
  height: var(--text-placeholder-height);
  background-image: url(../img/placeholder-text.svg);
  background-size: 100% 176px; }

.time-picker {
  display: inline-flex;
  flex-direction: column;
  width: var(--time-picker-width);
  background-color: var(--component-bg);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0);
  overflow: hidden; }
  .time-picker__header {
    display: grid;
    grid-template: auto auto / auto auto;
    grid-gap: .5rem;
    background-color: var(--component-bg-secondary);
    padding: 1rem; }
  .time-picker__time {
    grid-row: span 2;
    justify-self: end;
    margin: 0 .5rem 0 3rem;
    font-size: 3.5em;
    font-weight: 400; }
  .time-picker__am {
    align-self: end; }
  .time-picker__button-group {
    display: flex;
    justify-content: flex-end;
    padding: .5em; }
  .time-picker__button {
    color: var(--component-active);
    padding: 0.5em .75em;
    text-transform: uppercase; }
  .time-picker .selected::before {
    background-color: var(--component-active); }
  .time-picker .selected span {
    background-color: var(--component-active);
    color: var(--component-active-text); }
  .time-picker__dial {
    position: relative;
    margin: 2rem auto 1rem;
    width: 90%;
    padding: 45% 0;
    border-radius: var(--border-radius-circle);
    background-color: var(--component-bg-secondary); }
    .time-picker__dial::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: .375em;
      height: .375em;
      content: "";
      background-color: var(--component-active);
      border-radius: var(--border-radius-circle);
      transform: translate(-50%, -50%); }
    .time-picker__dial div {
      height: calc(50% - .5em);
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform-origin: bottom; }
      .time-picker__dial div::before {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: .125em;
        height: 100%;
        content: "";
        transform: translate(-50%); }
      .time-picker__dial div span {
        position: relative;
        height: 2.5em;
        width: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-circle); }
  .time-picker__1 {
    transform: translate(-50%) rotate(30deg); }
  .time-picker__1 span {
    transform: rotate(-30deg); }
  .time-picker__2 {
    transform: translate(-50%) rotate(60deg); }
  .time-picker__2 span {
    transform: rotate(-60deg); }
  .time-picker__3 {
    transform: translate(-50%) rotate(90deg); }
  .time-picker__3 span {
    transform: rotate(-90deg); }
  .time-picker__4 {
    transform: translate(-50%) rotate(120deg); }
  .time-picker__4 span {
    transform: rotate(-120deg); }
  .time-picker__5 {
    transform: translate(-50%) rotate(150deg); }
  .time-picker__5 span {
    transform: rotate(-150deg); }
  .time-picker__6 {
    transform: translate(-50%) rotate(180deg); }
  .time-picker__6 span {
    transform: rotate(180deg); }
  .time-picker__7 {
    transform: translate(-50%) rotate(210deg); }
  .time-picker__7 span {
    transform: rotate(-210deg); }
  .time-picker__8 {
    transform: translate(-50%) rotate(240deg); }
  .time-picker__8 span {
    transform: rotate(-240deg); }
  .time-picker__9 {
    transform: translate(-50%) rotate(270deg); }
  .time-picker__9 span {
    transform: rotate(-270deg); }
  .time-picker__10 {
    transform: translate(-50%) rotate(300deg); }
  .time-picker__10 span {
    transform: rotate(-300deg); }
  .time-picker__11 {
    transform: translate(-50%) rotate(330deg); }
  .time-picker__11 span {
    transform: rotate(-330deg); }
  .time-picker__12 {
    transform: translate(-50%); }
  .time-picker--landscape {
    display: inline-grid;
    grid-template: auto auto -webkit-min-content / 1fr 2fr;
    grid-template: auto auto min-content / 1fr 2fr;
    width: auto;
    height: var(--date-picker-width); }
    .time-picker--landscape .time-picker__header {
      grid-row: span 3;
      grid-template: none;
      justify-items: center;
      align-content: center; }
    .time-picker--landscape .time-picker__time {
      margin-left: 1.5rem;
      justify-self: center; }
    .time-picker--landscape .time-picker__dial {
      grid-row: span 2;
      align-self: center;
      margin: 1rem auto 0;
      width: 64%;
      padding: 32% 0; }

.title {
  line-height: 1.4;
  font-size: 48px;
  font-weight: 400;
  margin: 0; }

.tooltip {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.875rem;
  overflow: hidden; }
  .tooltip__content {
    flex-grow: 1;
    padding: .3125rem;
    width: 100%;
    min-width: 2em;
    min-height: 2em;
    border: var(--component-border-width) solid var(--component-border-color);
    background-color: var(--component-bg);
    border-radius: var(--border-radius-sm); }
  .tooltip__arrow {
    width: var(--tooltip-arrow-width);
    height: var(--tooltip-arrow-height);
    fill: var(--component-bg);
    stroke-width: var(--component-border-width);
    margin: var(--component-border-width-neg) 0.5rem 0 0.5rem; }
  .tooltip--bottom {
    flex-direction: column-reverse; }
    .tooltip--bottom .tooltip__arrow {
      transform: rotate(0.5turn);
      margin: 0 0.5rem var(--component-border-width-neg) 0.5rem; }
  .tooltip--right {
    align-items: flex-end; }

.video-player {
  display: flex;
  flex-direction: column;
  width: var(--video-player-width);
  height: var(--video-player-height);
  overflow: hidden;
  border: var(--component-border-width) solid var(--component-border-color);
  background-color: var(--component-bg);
  border-radius: var(--border-radius-0); }
  .video-player__image {
    height: calc(100% - var(--video-player-controls-height)); }
    .video-player__image img {
      width: 100%;
      height: 100%; }
  .video-player__controls {
    display: flex;
    align-items: center;
    flex: 0 0 var(--video-player-controls-height);
    padding: 0 .5rem;
    border-top: var(--component-border-width) solid var(--component-border-color); }
  .video-player__progress-bar {
    height: .75rem;
    margin: 0 1rem 0 .5rem;
    flex-grow: 1;
    background-color: var(--component-bg-secondary);
    border-radius: var(--border-radius-0); }
  .video-player .icon {
    margin: 0 .5rem; }
  .video-player--playing .video-player__progress-bar {
    background-image: linear-gradient(to right, var(--component-active) 20%, var(--component-bg-secondary) 20%); }
  .video-player--black-and-white img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }

.webcam {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  width: var(--webcam-width);
  height: var(--webcam-height);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0);
  background-color: var(--gray6);
  overflow: hidden; }

.window {
  width: var(--window-width);
  height: var(--window-height);
  border: var(--component-border-width) solid var(--component-border-color);
  border-radius: var(--border-radius-0);
  background-color: var(--component-bg);
  overflow: hidden; }
  .window__header {
    display: flex;
    align-items: center;
    padding: .5em .125em .5em .75em;
    border-bottom: 1px solid var(--component-border-secondary); }
    .window__header .icon {
      margin: 0 .5em; }
  .window__title {
    margin: 0 auto 0 0;
    font-weight: normal;
    font-size: 1rem; }

/* Font sizes */
.font-size-10 {
  font-size: 10px; }

.font-size-11 {
  font-size: 11px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-22 {
  font-size: 22px; }

.font-size-26 {
  font-size: 26px; }

.font-size-28 {
  font-size: 28px; }

.font-size-32 {
  font-size: 32px; }

.font-size-40 {
  font-size: 40px; }

.font-size-48 {
  font-size: 48px; }

.font-size-60 {
  font-size: 60px; }

.font-size-72 {
  font-size: 72px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.p-2 {
  padding: .5rem; }

.border-left-0 {
  border-left: 0; }

.border-right-0 {
  border-right: 0; }

.border-dashed {
  border-style: dashed; }

.border-dotted {
  border-style: dotted; }

.ml-auto {
  margin-left: auto; }

.ml-1 {
  margin-left: .25rem; }

.m-2 {
  margin: .5rem; }

.o-5 {
  opacity: .5; }

.o-7 {
  opacity: .7; }

.fill-none {
  fill: none; }

.fill-current-color {
  fill: currentColor; }

.fill-gray1 {
  fill: var(--gray1); }

.fill-gray2 {
  fill: var(--gray2); }

.fill-gray4 {
  fill: var(--gray4); }

.fill-gray5 {
  fill: var(--gray5); }

.fill-white {
  fill: var(--white); }

.stroke-gray1 {
  stroke: var(--gray1); }

.stroke-round {
  stroke-linecap: round; }

.stroke-width-2 {
  stroke-width: 2; }

.stroke-width-3 {
  stroke-width: 3; }

.stroke-width-4 {
  stroke-width: 4; }

.stroke-width-5 {
  stroke-width: 5; }

.flip-horizontal {
  transform: rotateY(0.5turn); }
